.footer-wrapper {
  background-color: rgb(225, 192, 255);
  position:relative;
  bottom: 0;
  gap: 1.5rem;
  padding: 1rem;
}
.footer-project-info {
}
.footer-project-info-p {
  text-align: center;
}
.footer-socialmedia {
    gap:0.6rem;
}
.footer-follow-p {
}
.footer-follow-button {
}
.footer-legal-ul {
  gap: 1rem;
}
.footer-legal-li {
  list-style: none;
}
