
.landing-page-image-section-wrapper {
    gap: 0.5rem;
  }
  .landing-page-image-section-image-wrapper {
    height: 250px;
  }
  .landing-page-image-gallerytools-wrapper {
    justify-content: space-between !important;
    padding: 0 1rem;
    min-height: 2.5rem;
  }
  .landing-page-image-gallerytools-arrow {
    width: 10%;
  }
  .landing-page-image-gallerytools-info {
    text-align: center;
    max-width: 70%;
    font-size: 0.8rem;
  }