:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --beige: rgb(255, 255, 255);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
p,
a,
span,
ul,
li {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
}

/* FONTS */

h1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
  line-height: 1.5rem;
}

p {
  font-size: 1rem;
}

input {
  font-size: 1rem;
}

.white {
  color:white;
}

/* WRaPPER */

.page-wrapper {
  padding: 2rem 1rem 3rem 1rem;
  background-color: var(--beige);
}

/* FLEX */

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-left {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
}

/* ERROR */
.error-message {
  background-color: rgb(255, 200, 200);
  color: red;
}

/* IMAGES */

.image-wrapper > img {
  display: flex;
}
.image-wrapper > img {
  width: 100%;
}

/* LINK / BUTTON */

.pointer {
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.border-bottom-black {
  /* border-bottom: 1px solid black; */
}

.border-bottom-white {
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: var(--beige);
}

/* FORM CSS */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.form-input-label {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}
.form-input-input {
  padding: 0.4rem;
  border-radius: 0px;
  border: 1px solid black;
}
.form-input-input:focus {
  outline: none;
}
.form-input-type-text {
}
.form-input-textarea {
  min-height: 200px;
  border: 1px solid black;
  padding: 0.4rem;
}
.form-input-textarea:focus {
  outline: none;
}
.form-button {
  padding: 0.6rem 1.4rem;
  width: fit-content;
  margin-top: 1rem;
  text-transform: uppercase;
  border-radius: 0px;
  border: 1px solid black;
  background-color: white;
}

/* NOTIFICATIONS */
.notification-wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}
.notification {
  gap: 1rem;
  background-color: white;
  padding: 2rem 1rem 2.5rem 1rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.notification-title {
}
.notification-text {
}
.notification-button {
  margin-top: 1rem;
}
