.admin-page-wrapper {
  gap: 3rem;
}

/* USER INFO */
.admin-login-info {
  background-color: black;
  justify-content: space-between;
}
.admin-login-info-text {
  color: white;
  padding: 0.4rem 0.6rem;
}

/* SECTIONS */
.admin-project-section {
  gap: 1.5rem;
}

/* SEARCH BAR */
.admin-search-wrapper {
  width: 100%;
  justify-content: space-between;
}
.admin-label {
  gap: 1rem;
}
.admin-input {
  border: none;
  border-bottom: black 1px solid;
}
.admin-input:focus {
  outline: none;
}
.admin-add-button {
  width: 1.8rem;
}

/* LIST CONTAINER */
.admin-list-container {
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid black;
}
.admin-card-wrapper {
  width: 100%;
  border: 1px solid black;
  padding: 1rem;
  box-sizing: border-box;
  margin: -1px 0 0 0;
}
.admin-card-title {
}
.admin-card-subtitle {
}

.admin-card-higlight-umbrella {
  /* background-color: var(--lightgrey); */
  /* border-radius: 10px; */
  text-shadow: 0 0 15px rgba(0,0,0,0.8);
  padding: 0.2rem 0.5rem;
  margin-left: -0.5rem;
  box-sizing: border-box;
}

/* ADD */
.admin-add-wrapper {
  width: 100%;
}

/* DELETE AND UPDATE */
.admin-update-delete-wrapper {
  gap: 0.5rem;
}
.admin-update-delete-icons {
  width: 20px;
}
