.landing-page-wrapper {
  gap: 4.5rem;
}

/* IMAGE SECTION  */

.landing-page-image-section {
  margin-bottom: 2rem;
}

/* ABOUT SECTION */
.landing-page-about-section {
}
.landing-page-about-info-wrapper {
  gap: 1rem;
}
.landing-page-about-headline {
}
.landing-page-about-abstract {
  hyphens: auto;
}
/* NEWS SECTION */

.landing-page-news-section {
}

.landing-page-morenews-button {
  text-transform: uppercase;
  margin-top: 1.5rem;
  /* border: 1px solid black;
  padding: 0.6rem;
  margin: -1px 0 0 0;
  border-radius: 20px; */
}

/* PROJECTS SECTION */
.landing-page-projects-section {
  gap: 2rem;
}

.landing-page-tag-filter-wrapper {
  gap: 1rem;
}

.projects-list-projects-wrapper {
  /* gap: 1rem; */
}

.projects-list-card-wrapper {
  border: solid black 1px;
}

.projects-list-card-image-wrapper {
  height: 220px;
  width: 100%;
}

.projects-list-card-title {
  padding: 0.6rem;
}
